build/*
doc/*
node_modules/*
nbproject/*
#thefragebogen*.js
.idea/*
src/*
#node_modules/ws
### Below are media files ###
public/media/*
public/media*
### Below are test files ###
test-mongoose.js
test-pageToMongoose.js
feedback.csv
index2.js
public/log/*
openssl/*
